

.calculator {
    margin-top: 20px;
    height: 400px;
    width: 300px;
    border: 1px solid black;
}

.screen {
    height: 50px;
    margin: 20px 20px;
    border: 1px solid black;
    padding: 0;
}

.screen-big {
    background-color: #ECCA73;
    height: 30px;
    width: 100%;
    margin: 0;
    padding: 0px 10px;
    line-height: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.screen-little {
    background-color: #ECD873;
    height: 20px;
    width: 100%;
    margin: 0;
    padding: 0px 10px;
    line-height: 20px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.buttons {
    display: flex;
    justify-content: space-around;
}

.but {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    margin: 5px;
    padding: auto auto;
    display: flex;
    align-items: center;
    background-color: grey;
    border-radius: 5px;
}

.but:active {
    background-color: #005580;
}

.but2 {
    width: 117px;
}

.but3 {
    height: 110px;
}

.multi {
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* justify-content: space-around; */
}

.multi > .row {
    /* margin-left: 1px; */
    margin: 0;
    padding: 0px 0px 0px 3px;
    display: flex;
    justify-content: space-around;
}